<div class="mat-elevation-z4">
    <table mat-table [dataSource]="socios" class="">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id_socio}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>
  
      <!-- NumInscricao Column -->
      <ng-container matColumnDef="numInscricao">
        <th mat-header-cell *matHeaderCellDef>NumInscricao</th>
        <td mat-cell *matCellDef="let row">{{row.numInscricao}}</td>
      </ng-container>      

      <!-- DataNascimento Column -->
      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef>DataNascimento</th>
        <td mat-cell *matCellDef="let row">{{row.dataNascimento}}</td>
      </ng-container>         

      <!-- Sexo Column -->
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let row">{{row.sexo}}</td>
      </ng-container>     

      <!-- Ativo Column -->
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Ativo</th>
        <td mat-cell *matCellDef="let row">{{row.ativo}}</td>
      </ng-container>    

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
      </ng-container>   

      <!-- Endereco Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereco</th>
        <td mat-cell *matCellDef="let row">{{row.endereco}}</td>
      </ng-container>   

      <!-- Tel Column -->
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let row">{{row.tel}}</td>
      </ng-container>      

      <!-- Dependentes Column -->
      <ng-container matColumnDef="dependentes">
        <th mat-header-cell *matHeaderCellDef>Dependentes</th>
        <td mat-cell *matCellDef="let row;">
          <span *ngFor="let dependente of row.dependentes">{{dependente.nome}}, </span>
        </td>
      </ng-container>    

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/socio/update/{{row.id_socio}}">
                <i class="material-icons edit-icon">
                    edit
                </i>
            </a>
            <a routerLink="/socio" (click)="delete(row.id_socio)">
                <i class="material-icons delete-icon">
                    delete
                </i>
            </a>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>