<mat-card>
    <mat-card-title>Atualizar Locação</mat-card-title>
    <form>
        <mat-form-field>
            <input readonly matInput placeholder="Data da Locação" [(ngModel)]="locacao.data_locacao" type="date" name="data_locacao">
        </mat-form-field>
        <mat-form-field>
            <input readonly matInput placeholder="Data prevista da Devolução" [(ngModel)]="locacao.data_devolucao_prevista" type="date" name="data_devolucao_prevista">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data efetiva da Devolução" [(ngModel)]="locacao.data_devolucao_efetiva" type="date" name="data_devolucao_efetiva">
        </mat-form-field> 
        <mat-form-field>
            <input readonly matInput placeholder="Valor Cobrado" [(ngModel)]="locacao.valor_cobrado" type="number" name="valor_cobrado">
        </mat-form-field>
        <mat-form-field>
            <input readonly matInput placeholder="Multa Cobrada" [(ngModel)]="locacao.multa_cobrada" type="number" name="multa_cobrada">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Item</mat-label>
            <mat-select readonly [(ngModel)]="locacao.item" name="locacao.item">
                <mat-option *ngFor="let item of itens" [value]="item">
                  {{item.titulo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select readonly [(ngModel)]="locacao.cliente" name="locacao.cliente">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                  {{cliente.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Sócio</mat-label>
            <mat-select readonly [(ngModel)]="locacao.socio" name="locacao.socio">
                <mat-option *ngFor="let socio of socios" [value]="socio">
                  {{socio.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
    </form>
    <button mat-raised-button (click) ="updateLocacao()" class="button-update-locacao">
        Atualizar Locação
     </button>
     <button mat-raised-button (click) ="cancel()" color="secondary">
        Cancelar
     </button> 
</mat-card>