<mat-card>
    <mat-card-title>Nova Locação</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data da Locação" [(ngModel)]="locacao.data_locacao" type="date" name="data_locacao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data prevista da Devolução" [(ngModel)]="locacao.data_devolucao_prevista" type="date" name="data_devolucao_prevista">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data efetiva da Devolução" [(ngModel)]="locacao.data_devolucao_efetiva" type="date" name="data_devolucao_efetiva">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Valor Cobrado" [(ngModel)]="locacao.valor_cobrado" type="number" name="valor_cobrado">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Multa Cobrada" [(ngModel)]="locacao.multa_cobrada" type="number" name="multa_cobrada">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Item</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of itens" [value]="item.id_item">
                  {{item.titulo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">
                  {{cliente.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
    </form>
    <button mat-raised-button (click) ="createLocacao()" class="button-new-locacao">
        Nova Locação
     </button>
     <button mat-raised-button (click) ="cancel()" color="secondary">
        Cancelar
     </button> 
</mat-card>