<div class="mat-elevation-z4">
    <table mat-table [dataSource]="locacoes" class="">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- DataLocacao Column -->
      <ng-container matColumnDef="dataLocacao">
        <th mat-header-cell *matHeaderCellDef>Data Locação</th>
        <td mat-cell *matCellDef="let row">{{row.dataLocacao}}</td>
      </ng-container>
  
      <!-- DataDevolucaoPrevista Column -->
      <ng-container matColumnDef="dataDevolucaoPrevista">
        <th mat-header-cell *matHeaderCellDef>DataDevolucaoPrevista</th>
        <td mat-cell *matCellDef="let row">{{row.dataDevolucaoPrevista}}</td>
      </ng-container>      

      <!-- DataDevolucaoEfetiva Column -->
      <ng-container matColumnDef="dataDevolucaoEfetiva">
        <th mat-header-cell *matHeaderCellDef>DataDevolucaoEfetiva</th>
        <td mat-cell *matCellDef="let row">{{row.dataDevolucaoEfetiva}}</td>
      </ng-container>         

      <!-- ValorCobrado Column -->
      <ng-container matColumnDef="valorCobrado">
        <th mat-header-cell *matHeaderCellDef>ValorCobrado</th>
        <td mat-cell *matCellDef="let row">{{row.valorCobrado}}</td>
      </ng-container>     

      <!-- MultaCobrada Column -->
      <ng-container matColumnDef="multaCobrada">
        <th mat-header-cell *matHeaderCellDef>MultaCobrada</th>
        <td mat-cell *matCellDef="let row">{{row.multaCobrada}}</td>
      </ng-container>    

      <!-- Item Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let row">{{row.item.titulo.nome}}</td>
      </ng-container>          

      <!-- Cliente Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let row">{{row.cliente.nome}}</td>
      </ng-container>   

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/locacao/update/{{row.id}}">
                <i class="material-icons edit-icon">
                    edit
                </i>
            </a>
            <a routerLink="/locacao" (click)="delete(row.id)">
                <i class="material-icons delete-icon">
                    delete
                </i>
            </a>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>