<mat-card>
    <mat-card-title>Atualizar Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" type="text" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numéro da inscrição" [(ngModel)]="cliente.num_inscricao" type="number" name="num_inscricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de nascimento" [(ngModel)]="cliente.data_nascimento" type="date" name="data_nascimento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sexo" [(ngModel)]="cliente.sexo" type="text" name="sexo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ativo</mat-label>
            <mat-select name="ativo">
                <mat-option *ngFor="let opcao of ativoInativo" [value]="opcao" [(ngModel)]="cliente.ativo">
                  {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button (click) ="updateCliente()" class="button-update-cliente">
        Atualizar Cliente
     </button>
     <button mat-raised-button (click) ="cancel()" color="secondary">
        Cancelar
     </button> 
</mat-card>