<mat-card>
    <mat-card-title>Atualizar Classe</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="classe.nome" type="text" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor" [(ngModel)]="classe.valor" type="number" name="valor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Devolução" [(ngModel)]="classe.dataDevolucao" type="date" name="dataDevolucao">
        </mat-form-field>
    </form>
    <button mat-raised-button (click) ="updateClasse()" class="button-update-classe">
        Atualizar Classe
     </button>
     <button mat-raised-button (click) ="cancel()" color="secondary">
        Cancelar
     </button> 
</mat-card>