table{
    width: 100%;
}
table tr{
    transition: all linear 0.35s;
}
table tr:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
table tr:nth-child(even)
{
    background-color: #f2f2f2;
}
table tr:nth-child(even):hover
{
    background-color: rgba(255, 255, 255, 0.815)
}
i{
    transition: all linear 0.2s;
}
i.edit-icon{
    color: #07a362;
    margin-right: 0.8rem;
}
i.delete-icon{
    color: rgb(163, 4, 4);
}
i.edit-icon:hover{
    color: #00ff95;
}
i.delete-icon:hover{
    color: rgb(255, 0, 0);
}